body {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: whitesmoke;
}
main {
    flex: auto;
    display: flex;
    flex-direction: row;
    background-color: #f0f5;;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}